<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/beer/}" th:object="${beer}">
    <input th:field="*{id}" type="hidden">
    <input th:field="*{description.id}" type="hidden">

    <lable><b>Name</b></lable>
    <input th:field="*{name}" type="text">

    <br><br>
    <label><b>Beer type</b></label>
    <select name="beerType.id">
        <option th:each="beerTypeValue : ${beerTypes}"
                th:selected="${beerTypeValue.id.equals(beer.beerType.id)}"
                th:text="${beerTypeValue.description}"
                th:value="*{beerType.id}">beerType
        </option>
    </select>

    <br><br>
    <label><b>Description</b></label>
    <br>
    <textarea th:field="*{description.text}"></textarea>

    <br><br>
    <label>Snack</label>
    <select name="snack.id">
        <option th:each="snackEach : ${snacks}"
                th:selected="${snackEach.id.equals(beer.snack.id)}"
                th:text="${snackEach.description}"
                th:value="${snackEach.id}">Snack here
        </option>
    </select>

    <br><br>
    <label><b>Ingredients</b></label>
    <a th:href="@{'/beer/'+ ${beer.id} + '/ingredient/new'}">Add Ingredient</a>
    <table>
        <tr th:each="ingredient : ${beer.ingredients}">
            <td th:text="${ingredient.description}">Ingredient here</td>
        </tr>
    </table>

    <br><br>
    <label>Reviews</label>
    <table th:each="review : ${beer.reviews}">
        <td th:text="${review.text}"> review here</td>
    </table>

    <br><br>
    <table>
        <tr>
            <td><b>Fans</b>:</td>
            <td th:each="fan : ${beer.fans}"
                th:text="${fan.firstName} + ' ' + ${fan.lastName}">fan1
            </td>
        </tr>
    </table>
    <div th:each="fan, idx : ${beer.fans}">
        <input th:field="*{fans[__${idx.index}__].id}" type="hidden">
        <input th:field="*{fans[__${idx.index}__].firstName}" type="hidden">
        <input th:field="*{fans[__${idx.index}__].lastName}" type="hidden">
        <input th:field="*{fans[__${idx.index}__].sex}" type="hidden">
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>